// ======================================================
// Components :: Breadcrumbs
// ======================================================

.bcrum {
  border-bottom: 1px solid #cacaca;
  padding: 25px 0;
  font-family: $font-family-kozuka;
  font-size: 12px;

  @include breakpoint-down(phone-plus) {
    // font-size: 16px;
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
  }

  @include breakpoint-down(phone) {
    padding: 1.5rem 0 0;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 0;
  }

  &-item {
    color: #cba84a;
    line-height: 18px;

    span {
      color: #6f6f6f;
      margin: 0 12px;
    }
  }
}
