//-------------------------------------------------------
//- Modules :: Footer
//-------------------------------------------------------

mixin footer()
  .footer.footer-step
    .container
      .row.footer-block
        .col-lg-2.col-md-12.footer-item
          .logo
            a(href='#')
              img(src='./images/logo-registration.svg' alt='img')
          ul.footer-list
            li
              a(href='') Travel
            li
              a(href='') Wine & Dine
            li
              a(href='') Wellness
            li
              a(href='') Shopping
        .col-lg-2.col-md-12.footer-item
          h2.title-links QUICK LINKS
          ul.footer-list
            li
              a(href='#') About Us
            li
              a(href='#') SKY POINTS
            li
              a(href='#') News
            li
              a(href='#') Legal
            li
              a(href='#') FAQ
        .col-lg-2.col-md-12.footer-item
          h2.title-links STAY IN TOUCH
          ul.footer-list
            li
              a(href='#') Facebook
            li
              a(href='#') LINE
            li
              a(href='#') Youtube

      .copyright-wrapper
        span
          | © 2020 SKY PREMIUM INTERNATIONAL PTE. LTD. ALL
          br
          | RIGHTS RESERVED.
