//-------------------------------------------------------
//- Modules :: Head
//- All content in <head>...</head>
//-------------------------------------------------------

mixin head(title)
  title= title
  meta(charset='utf-8')
  meta(name='description' content=title)
  meta(name='keywords' content=title)
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='icon' href='/favicon.ico')
  //- link(href='https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap' rel='stylesheet')
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
  link(rel='stylesheet' href='css/main.css')
