//-------------------------------------------------------
//- Modules :: Header
//-------------------------------------------------------

mixin header-registration()
  header.header.header--registration
    .container
      .header__inner
        h1.header__logo
          a(href='#')
            img(src='./images/logo-registration.svg' alt='img')
