//-------------------------------------------------------
//- Modules :: Header
//-------------------------------------------------------

mixin header-login()
  .header
    .content
      .logo
        a(href='#')
          img(src='images/logo.png' alt='')
      .top-customer
        .favorites
          a.favorites-link(href='#')
            img.favorites-img(src='images/heart.svg' alt='')
