//-------------------------------------------------------
//- Modules :: Icons
//-------------------------------------------------------

mixin icon-fonts(name)
  i(class=`icon-fonts icon-fonts--${name}`)&attributes(attributes)
