include ../page-list/_page-list
include ../_head
include ../_header-pc
include ../_siderbar
include ../_alert-message
include ../_buttons
include ../_modals
include ../_icons
include ../_tabs
include ../_footer

doctype html
html(lang='en')
  head
    block head

  body
    block body

    block scripts
      script(src='js/main.js')
