include ../page-list/_page-list
include ../_head
include ../_header-step1
include ../_siderbar
include ../_footer-step1

doctype html
html(lang='en')
  head
    block head

  body
    block body

    block scripts
      script(src='js/main.js')
