include ../page-list/_page-list
include ../_head
include ../_header-login
include ../_footer

doctype html
html(lang='en')
  head
    block head

  body
    block body

    block scripts
      script(src='js/main.js')
