// ======================================================
// Pages :: Product Listing
// ======================================================

.listing {

  @include breakpoint-down(phone-plus) {
    margin-top: 1rem;
  }

  &-top {
    //margin-bottom: 55px;
  }

  &-restaurant {
    &--text {
      font-family: $font-family-mincho;
      font-size: 36px;
    }
  }

  &-sdetail {
    height: 70px;
    padding: 0 39px;
    background-color: #343741;
    font-size: 16px;
    text-align: center;
    line-height: 66px;
    margin-left: 95px;
    border-radius: 35px;
    color: #fff;
    border: 2px solid #343741;
    transition: all .3s ease-out;

    &:hover {
      background-color: transparent;
      transition: all .3s ease-out;
    }
  }

  .result {
    &-key {
      padding: 0;
      margin-bottom: 50px;

      &-number {
        display: block;
      }

      &-link {
        display: inline-block;
        margin: 5px;

        @include breakpoint-down(phone-plus) {
          display: inline-flex;
          align-items: center;
          //margin: 5px;
          font-size: .8rem;
          height: 0;
          line-height: 0;
          padding: 1.1rem 1rem;
          margin: .25rem .25rem;
        }

        @include breakpoint-down(phone) {
          display: inline-flex;
          align-items: center;
          //height: 0;
          //line-height: 0;
          font-size: 1.5rem;
          //padding: 2rem .5em;
          padding: 0 .5rem;
          min-height: 64px;
          line-height: 1.1;
          height: auto;
          margin: 5px 5px;
        }
      }

      &--close {

        @include breakpoint-down(phone-plus) {
          font-size: 1.6rem;
          margin-left: .8rem;
          margin-bottom: .1rem;
        }
      }
    }

    &-lsearch {
      line-height: 70px;

      .result-choose {
        width: 100%;
        justify-content: flex-end;
      }

      .result--text {
        line-height: 70px;
        margin-right: 20px;
      }

      .control:after {
        bottom: 35px;
      }

      .result-select {
        height: 70px;
      }
    }

    &-keyword {
      background-color: #fff;
      padding: 15px;
      justify-content: flex-start;
      margin-bottom: 40px;
      flex-direction: column;

      @include breakpoint-down(phone-plus) {
        padding: .75rem .75rem;
        margin-bottom: 0;
      }

      @include breakpoint-down(phone) {
        margin-bottom: 30px;
        padding: 0 10px;
      }
    }

    &-keymobi {
      display: none;
    }

    &-cblock {
      display: flex;

      .control:last-child {
        margin-left: 0;
      }

      &:first-child {
        margin-right: 40px;
      }
    }
  }

  @include breakpoint-down(phone) {
    .result-key-link {
      p {
        line-height: 1.8;
      }

      .result-key--close .cursor-pointer {
        height: 48px;
      }
    }
  }

  .search-product {
    padding-top: 122px;
  }
}

.result-txt {
  color: #343741;
  display: none;
  font-size: 14px;
  margin: 5px;

  @include breakpoint-down(phone) {
    display: flex;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}

.pro {
  &-des {
    margin: 25px 0;
    position: relative;

    &--points {
      font-size: 13px;
      text-transform: uppercase;
      color: #baa9ad;
      margin-top: 25px;
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-family: $font-family-adobe;
    font-size: 20px;
    position: relative;

    &:after {
      content: '';
      height: 1.5px;
      width: 8px;
      background-color: #343741;
      position: absolute;
      bottom: 15px;
      left: 0;
      z-index: 2;
    }
  }

  &-status {
    //min-height: 40px;
    //min-width: 35px;
    min-width: 28px;
    min-height: 28px;

    @include breakpoint-down(phone-plus) {
      min-width: 2.22rem;
      min-height: 2.22rem;
    }

    .reg-hexagon {
      background-color: #baa9ad;
      width: 35px;
      height: 18px;
      top: 8px;

      &:before {
        top: -11px;
        border-left: 17.5px solid transparent;
        border-right: 17.5px solid transparent;
        border-bottom: 11px solid #baa9ad;
      }

      &:after {
        bottom: -11px;
        border-left: 17.5px solid transparent;
        border-right: 17.5px solid transparent;
        border-top: 11px solid #baa9ad;
      }

      span {
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        top: 0;
        left: 3px;
      }
    }

    .reg-hexagon-svg {
      width: 28px;
      height: 28px;
      position: relative;
      //top: -15px;

      @include breakpoint-down(phone-plus) {
        width: 2.22rem;
        height: 2.22rem;
        //top: -1rem;
      }

      @include breakpoint-down(phone) {
        width: 2.3rem;
        height: 2.3rem;
        //top: -1rem;
      }

      svg {
        width: 28px;
        height: 28px;

        @include breakpoint-down(phone-plus) {
          width: 2.22rem;
          height: 2.22rem;
        }

        @include breakpoint-down(phone) {
          width: 2.3rem;
          height: 2.3rem;
        }
      }
    }
  }

  &-name {
    font-family: $font-family-kozuka;
    font-size: 20px;
    color: #343741;
    line-height: 28px;
  }

  &--direct {
    font-size: 12px;
    color: #969696;
  }

  &-heart {
    position: absolute;
    right: 0;
    bottom: 0;

    a {
      display: inline-block;
    }

    img {
      width: 27px;
    }
  }
}

.search {
  &-select {
    display: flex;
    justify-content: space-between;

    &--customize {
      margin: 0 -5px;

      @include breakpoint-down(phone-plus) {
        margin: 0 0 1.25rem 1.5rem;
      }

      .search-check {
        flex: 0 0 50%;
        padding: 0 5px;
        width: 50%;

        @include breakpoint-down(phone-plus) {
          flex: 0 0 49%;
          padding: 0;
          width: 49%;
        }
      }
    }
  }

  &-check {
    display: inline-block;
    float: left;
    position: relative;

    label {
      display: block;
      border: 1px solid #cacaca;
      width: 100%;
      height: 50px;
      padding: 0 10px;
      line-height: 50px;
      color: #343741;
      font-size: $font-size-medium;
      cursor: pointer;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-direction: column;
      white-space: nowrap;

      @include breakpoint-down(phone-plus) {
        font-size: 1rem;
        height: 3rem;
        line-height: 3rem;
      }
    }

    input[type='checkbox']:checked + label {
      color: #fff;
      background-color: #cba84a;
    }

    &-left {
      width: 70%;
    }

    &-right {
      width: 28%;
    }

    &--input {
      width: 100%;
      height: 50px;
      position: absolute;
      cursor: pointer;
      opacity: 0;
    }
  }
}

@include breakpoint-down(phone) {
  .result {
    &-lsearch {
      .result-choose {
        .control {
          width: auto;
          height: auto;
        }
      }
    }

    &-word {
      width: 100%;
      padding: 1rem 0;
    }
  }
}

@include breakpoint-down(phone) {
  .result {
    &-lsearch {
      display: none;

      .result-choose {
        .control {
          width: 50%;
          height: auto;
        }
      }
    }
  }

  .listing {
    .search-product {
      padding-top: 0;
    }
  }
}

@include breakpoint-down(phone) {
  .listing {
    &-sdetail {
      display: none;
    }

    &-top {
      margin-bottom: 15px;
    }

    &-restaurant {
      &--text {
        font-size: 30px;
        padding: 0 15px;
        margin-bottom: 15px;
      }
    }

    .result {
      &-key {
        &-link {
          //height: 25px;
          //font-size: 11px;
          //line-height: 25px;
        }

        &--close {
          font-size: 3rem;
          margin-left: .8rem;
          top: -.2rem;
          position: relative;
        }

        &--text {
          display: block;
        }
      }

      &-coundown {
        display: none;
      }
    }
  }
}
