// ======================================================
// Pages :: Fonts
// ======================================================

@font-face {
  font-family: Lato;
  font-style: normal;
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: adobe-garamond-pro;
  font-style: normal;
  src: url('../fonts/AGaramondPro-Regular.otf');
}

@font-face {
  font-family: kozuka-gothic-light;
  font-style: normal;
  src: url('../fonts/KozGoPr6N-Light.otf');
}

@font-face {
  font-family: kozuka-gothic;
  font-style: normal;
  src: url('../fonts/KozGoPr6N-Regular.otf');
}

@font-face {
  font-family: Kozuka-Mincho;
  font-style: normal;
  src: url('../fonts/KozMinPr6N-Regular.otf');
}

@font-face {
  font-family: Notera;
  font-style: normal;
  src: url('../fonts/Notera.ttf');
}

@font-face {
  font-family: Cormorant-Garamond-Medium;
  font-style: normal;
  src: url('../fonts/CormorantGaramond-Medium.ttf');
}
