/* CSS for design component here, can be css or scss */
.newIcon {
    background-color: #baa9ad;
    width: 35px;
    height: 18px;
    top: 8px;
}

.newIcon:before {
    top: -11px;
    border-left: 17.5px solid transparent;
    border-right: 17.5px solid transparent;
    border-bottom: 11px solid #baa9ad;
}

.newIcon:after {
    bottom: -11px;
    border-left: 17.5px solid transparent;
    border-right: 17.5px solid transparent;
    border-top: 11px solid #baa9ad;
}

.newIcon span {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    top: 0;
    left: 3px;
}
