extends modules/layout/_page-default-pc

block head
  +head('Buzz List')

block main
  main.main
    .main-fluid
      .buzz-top
        img(src='./images/bannar_buzz.jpg' alt='img')
      .container
        .main-content
          .buzz
            .buzz-title
              a.buzz-title--name(href="") News
              a.buzz-title--name(href="") Media
              a.buzz-title--name(href="") Gallery

            .row
              each val in [1, 2]
                .buzz-gallery.col-lg-6.col-md-6
                  .buzz-item
                    a.buzz-img(href='#')
                      img(src='./images/original_6.jpg' alt='img')
                    .buzz-info
                      a.buzz-info--title(href='#') Exciting New Partnerships in the month of October 2020 Exciting New Partnerships in the month of October 2020 Exciting New Partnerships in the month of October 2020 Exciting New Partnerships in the month of October 2020
                      .buzz-date
                        span 9 oct 2020 - news

            .buzz-list
              .row
                each val in [1, 2, 3, 4, 5, 6]
                  .buzz-gallery.col-lg-4.col-md-4
                    .buzz-item
                      a.buzz-img(href='#')
                        img(src='./images/original_6.jpg' alt='img')
                      .buzz-info
                        a.buzz-info--title(href='#') Exciting New Partnerships in the month of October 2020
                        .buzz-date
                          span 9 oct 2020 - news

          .pagination.pagination-point
            ul.pagination-list
              li.pagination-item.pagination-item--active
                a.pagination-link(href="") 1
              li.pagination-item.pagination-item
                a.pagination-link(href="") 2
              li.pagination-item.pagination-item
                a.pagination-link(href="") 3
              li.pagination-item.pagination-item
                a.pagination-link(href="") 4
              li.pagination-item.pagination-item
                a.pagination-link(href="") 5
              li.pagination-item.pagination-item
                a.pagination-link(href="") >
            .pagination-choose
              span Show
              .control
                select.pagination-select(name='list')
                  option(value='01') 30
                  option(value='02') 01
                  option(value='03') 02
              span per page

block footer
  +footer()
