extends modules/layout/_page-default-pc

block head
  +head('Checkout Step3')

block main
  main.main
    .main-fluid.main-fluid--white
      .container
        .main-content
          .checkout-wrap
            .step-one.step-three.sky-width
              .checkout-edit-box
                .checkout-edit
                  span.checkout--title チェックアウト
                  a(href='#').checkout--cart Back to Payment

              .order-shipping
                p.order--step ステップ3
                h2.order--title Review Your Order
                .reg-list.order-box
                  .reg-hexagon.order-item.reg-hexagon-active
                    span 1
                  .reg-hexagon.order-item.reg-hexagon-active
                    span 2
                  .reg-hexagon.order-item.reg-hexagon-active
                    span.reg-text 3

              .row
                .step2-left.col-xl-9.col-lg-9.col-md-12.col-xs-12
                  .select-box
                    .select-content
                      h4.select--title Confirm Your Order
                      .row
                        .col-xl-6.col-lg-6.col-md-12.col-xs-12
                          .address-ship
                            .address--pay SHIPPING ADDRESS
                            .address--name 岡本 恵
                            .address--text 日本 6310032
                            .address--text 奈良県 奈良市 あやめ池北
                            .address--text 3－10－19
                            .address--text  Japan ( +81 ) 9054689120
                        .col-xl-6.col-lg-6.col-md-12.col-xs-12
                          .address-ship
                            .address--pay SHIPPING Address
                            .address--name
                              img(src='images/visa-icon.png' alt='')
                              | **** **** **** 4242
                            .address--text 05/21
                            .address--text MEGUMI OKAMOTO
                            .address--text 6310032
                            .address--text 奈良県 narashi ayameike
                            .address--text kita 3-10-19 日本
                            .address--text Win-Life ayameike kita410

                      .summary--title Cart Summary (1)

                      .select-box-pc
                        .select-box
                          .select-detail
                            .summary-product
                              .summary-product-img
                                a(href='#')
                                  img(src='images/sp1.png' alt='')
                              .summary-left
                                .summary-product-name
                                  a(href='#')
                                    | 八天堂 プレミアムフローズンくりーむパ
                                    br
                                    | ン・メロンパン 12個詰合せ 
                                  .pcx-points
                                    span THE DIRECT 
                                    span • ¥5,000 
                                    span • SKY POINT 50
                                  .pcx-order
                                    a(href="") 注文
                                .summary-pcx
                                  span.pcx--text 数量
                                  span.pcx--amount X 2
                                  span.pcx--price ¥10,000
                                .summary-point
                                  .summary-x1
                                    span x1
                                  .summary-price
                                    span.summary-price--number ¥5,560
                                    span.summary-price--sky SKY POINT 56
                                  .summary--count ¥5,560
                                .fill
                                  a.fill--title(data-toggle='collapse' href='#multi-collapse' role='button' aria-expanded='false' aria-controls='multiCollapseExample1') VIEW DETAILS
                                  .col
                                    .multiCollapseExample1.collapse#multi-collapse.show
                                      .card.card-body
                                        .view-item
                                          span.view-item--left Request for Delivery Note
                                          span.view-item--right : trinh.thi.my.duyen+412@sun-asterisk.com
                                        .view-item
                                          span.view-item--left Specify Delivery Date
                                          span.view-item--right : 2020/09/20
                                        .view-item
                                          span.view-item--left Specify Delivery Time
                                          span.view-item--right : 12.00PM to 2.00PM
                                        .view-item
                                          span.view-item--left Gift wrapping
                                          span.view-item--right : Noshi, 誕生日祝い
                                        .view-item
                                          span.view-item--left message Card:
                                          span.view-item--right : Happy Birthday!

                        .select-box
                          .select-detail
                            .summary-product
                              .summary-product-img
                                a(href='#')
                                  img(src='images/sp2.png' alt='')
                              .summary-left
                                .summary-product-name
                                  a(href='#')
                                    | 近江牛 すき焼きしゃぶ 
                                    br
                                    | しゃぶ用 肩肉（430g）
                                  .pcx-points
                                    span THE DIRECT 
                                    span • ¥5,000 
                                    span • SKY POINT 50
                                  .pcx-order
                                    a(href="") 注文
                                .summary-pcx
                                  span.pcx--text 数量
                                  span.pcx--amount X 2
                                  span.pcx--price ¥10,000
                                .summary-point
                                  .summary-x1
                                    span x2
                                  .summary-price
                                    span.summary-price--number ¥5,710
                                    span.summary-price--sky SKY POINT 58
                                  .summary--count ¥11,420
                                .fill
                                  a.fill--title(data-toggle='collapse' href='#multi-collapse1' role='button' aria-expanded='false' aria-controls='multiCollapseExample1') VIEW DETAILS
                                  .col
                                    .multiCollapseExample1.collapse#multi-collapse1
                                      .card.card-body
                                        .view-item
                                          span.view-item--left Request for Delivery Note
                                          span.view-item--right : Yes
                                        .view-item
                                          span.view-item--left Specify Delivery Date
                                          span.view-item--right : 2020/09/20
                                        .view-item
                                          span.view-item--left Specify Delivery Time
                                          span.view-item--right : 12.00PM to 2.00PM
                                        .view-item
                                          span.view-item--left Gift wrapping
                                          span.view-item--right : Noshi, 誕生日祝い
                                        .view-item
                                          span.view-item--left message Card:
                                          span.view-item--right : Happy Birthday!

                .step2-right.col-xl-3.col-lg-3.col-md-12.col-xs-12
                  .step2-block
                    .dbox-order
                      h4.dbox--title
                        span 注文内容
                        span 2 件
                      p.dbox-item
                        span 商品合計
                        span ¥20,000
                      p.dbox-item
                        span 送料
                        span ¥2,000
                      p.dbox-item
                        span GIFT料
                        span ¥1,000
                      p.dbox-item.dbox-bold
                        span 小計
                        span ¥23,000
                      p.dbox-item
                        span 消費税
                        span 対象外
                    .dbox-points
                      p.dbox-item
                        span クーポンコード DISCOUNT
                        span –￥5,000
                      .dbox-price
                        span.dbox--number SKYOFF500
                        .location-boxes.dbox-tick
                          input.ship-checkbox.dbox-checkbox(type='checkbox', id='ship-box', checked='')
                          label
                    .dbox-points
                      p.dbox-item
                        span SKY POINTS Redeemed
                        span –￥5,000
                      .dbox-price
                        span.dbox--number 5,000
                        .location-boxes.dbox-tick
                          input.ship-checkbox.dbox-checkbox(type='checkbox', id='ship-box', checked='')
                          label
                    .dbox-order
                      p.dbox-item.dbox-count
                        span 合計
                        span ¥17,500
                      p.dbox-item
                        span SKY POINTS EARNED
                        span 200
                      .dbox-btn
                        a.dbox-btn--link(href="") SUBMIT

block footer  
  +footer()
