extends modules/layout/_page-default-login

block head
  +head('Forgot Password')

block main
  .login
    .login-form
      .welcome
        h4.welcome--title Welcome to The Good Life
        p.welcome--sub パスワードをお忘れの場合
        p.welcome--des
          | ご登録のメールアドレスを入力して、「パスワードの再
          br
          | 設定」ボタンをクリックしてください。受信メール
          br
          | の内容をご確認の上、手順に従ってパスワードを再設
          br
          | 定ください。
      .form-login
        .control
          input(class="form-control" type="text" id="" placeholder="" value="")
          span.input-lable Email address
        .control.control-log
          a.back-login(href='#') Returm to Login Page
          a.action-login.reset-pass-mobi(href='#') Reset My Password
        .control.control-log.control-reset
          a.action-login.reset-pass(href='#') Reset Password
    .copyright-wrapper
      span © 2019 SKY PREMIUM INTERNATIONAL PTE LTD. ALL RIGHTS RESERVED. (v3.3.2.201910090800)
