extends modules/layout/_page-default-pc

block head
  +head('Home')

block main
  main.main
    .main-fluid
      .banner
        .sologan
          h2.sologan-welcome Welcome to The Good Life
          h3.sologan-name mr shanewas niloy
        .user-nav
          .box-search
            .box-search__form
              input.form-search(type='text' placeholder='キーワードから探す')
              span.box-search__icon
                img(src='./images/search-step.svg' alt='img')
            ul.box-search__result
              li.box-search__item
                a.box-search__link(href='#') Result search 1
              li.box-search__item
                a.box-search__link(href='#') Result search 2
              li.box-search__item
                a.box-search__link(href='#') Result search 3
              li.box-search__item
                a.box-search__link(href='#') Result search 4
              li.box-search__item
                a.box-search__link(href='#') Result search 5
          .side-right
            .side-point
              span.side-point__number 200
              span.side-point__name SKY POINTS
            .side-images
              img(src='./images/GoldTier2x.png' alt='img')
    .container
      .recommend-full
        h3.recommend-title Recommendations
        .recommend.row
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン 10本セット
              .recommend-sub THE DIRECT
              .recommend-btn
                a.recommend--submit(href='#') View details
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati1.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン
              .recommend-sub
              .recommend-btn
                a.recommend--submit(href='#') View details
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati2.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット
              .recommend-sub THE DIRECT THE DIRECT THE DIRECT THE DIRECT THE DIRECT
              .recommend-btn
                a.recommend--submit(href='#') View details
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン 10本セット
              .recommend-sub THE DIRECT
              .recommend-btn
                a.recommend--submit(href='#') View details
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン 10本セット
              .recommend-sub THE DIRECT
              .recommend-btn
                a.recommend--submit(href='#') View details
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati1.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン 10本セット
              .recommend-sub THE DIRECT
              .recommend-btn
                a.recommend--submit(href='#') View details
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati2.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン 10本セット
              .recommend-sub THE DIRECT
              .recommend-btn
                a.recommend--submit(href='#') View details
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン 10本セット
              .recommend-sub THE DIRECT
              .recommend-btn
                a.recommend--submit(href='#') View details
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン 10本セット
              .recommend-sub THE DIRECT
              .recommend-btn
                a.recommend--submit(href='#') View details
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati1.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン 10本セット
              .recommend-sub THE DIRECT
              .recommend-btn
                a.recommend--submit(href='#') View details
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati2.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン 10本セット
              .recommend-sub THE DIRECT
              .recommend-btn
                a.recommend--submit(href='#') View details
          .recommend-item.col-lg-3.col-md-3
            a.recommend-img(href='#')
              img(src='./images/dati.png' alt='img')
            .recommend-box
              .recommend-cate
                .recommend-status.pro-status
                  .reg-hexagon
                    span new
                span Shopping
                .recommend-heart.classify-heart
                  a(href='#')
                    img(src='./images/heart.svg' alt='img')
              a.recommend-box--title(href='#') 10月のうま得ワイン 10本セット
              .recommend-sub THE DIRECT
              .recommend-btn
                a.recommend--submit(href='#') View details

block footer
  +footer()
