extends modules/layout/_page-default-pc

block head
  +head('Point Maill')

block main
  main.main
    .main-fluid
      .point-mail
        .shopping-top.listing-top
          img(src='./images/shopping.jpg' alt='img')
      .container
        .main-content
          .fealist1
            .fealist1-top
              h1.fealist1-top--title POINT MALL
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              p tempor incididunt ut labore et dolore magna aliqua.
          .row
            .col-lg-3.col-md-12
              h3.point-side--title POINT MALL CATEGORYIES
              .side-mobile
                .side-toggle.dropdown-toggle
                  a.side-toggle__link(data-toggle='collapse' href='#multi-collapse') ALL(32)
                .collapse#multi-collapse
                  ul.side-menu
                    li.side-menu__item
                      a.side-menu__link(href='#') ALL(32)
                    li.side-menu__item
                      a.side-menu__link(href='#') 食品(18)
                    li.side-menu__item
                      a.side-menu__link(href='#') 食品ブランド(3)
                    li.side-menu__item
                      a.side-menu__link(href='#') 酒 (0)
                    li.side-menu__item
                      a.side-menu__link(href='#') 飲料 (0)
                    li.side-menu__item
                      a.side-menu__link(href='#') ビューティー・ヘルス (0)
                    li.side-menu__item
                      a.side-menu__link(href='#') テーブルウェア (0)
                    li.side-menu__item
                      a.side-menu__link(href='#') キッチン (0)
                    li.side-menu__item
                      a.side-menu__link(href='#') ホーム (0)
                    li.side-menu__item
                      a.side-menu__link(href='#') チケット (0)
            .col-lg-9.col-md-12
              .point-product
                .result-full
                  .result.row
                    .result-item.col-lg-4.col-md-6
                      a.result-img(href='#')
                        img(src='./images/img-feature1.png' alt='img')
                      .result-box
                        .result-cate
                          .result-status.pro-status
                            .reg-hexagon
                              span new
                          span POINT MALL
                          .result-heart.classify-heart
                            a(href='#')
                              img(src='./images/heart.svg' alt='img')
                        a.result-box--title(href='#') 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット
                        .result-sub
                        .result-point
                          span 2,980 SKY POINTS
                        .result-des.result-des--point
                          span 酸化することなくワインを保存できる革新的なワインツール ※送料無料
                        .result-btn
                          a.result--submit(href='#') ADD CARTS
                    .result-item.col-lg-4.col-md-6
                      a.result-img(href='#')
                        img(src='./images/img-feature1.png' alt='img')
                      .result-box
                        .result-cate
                          .result-status.pro-status
                            .reg-hexagon
                              span new
                          span POINT MALL
                          .result-heart.classify-heart
                            a(href='#')
                              img(src='./images/heart.svg' alt='img')
                        a.result-box--title(href='#') 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット
                        .result-sub
                        .result-point
                          span 2,980 SKY POINTS
                        .result-des.result-des--point
                          span 酸化することなくワインを保存できる革新的なワインツール ※送料無料
                        .result-btn
                          a.result--submit.btn-short-of(href='#') SHORT OF POINTS
                    .result-item.col-lg-4.col-md-6
                      a.result-img(href='#')
                        img(src='./images/img-feature1.png' alt='')
                      .result-box
                        .result-cate
                          .result-status.pro-status
                            .reg-hexagon
                              span new
                          span POINT MALL
                          .result-heart.classify-heart
                            a(href='#')
                              img(src='./images/heart.svg' alt='img')
                        a.result-box--title(href='#') 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット
                        .result-sub
                        .result-point
                          span 2,980 SKY POINTS
                        .result-des.result-des--point
                          span 酸化することなくワインを保存できる革新的なワインツール ※送料無料
                        .result-btn
                          a.result--submit(href='#') ADD CARTS
                    .result-item.col-lg-4.col-md-6
                      a.result-img(href='#')
                        img(src='./images/img-feature1.png' alt='img')
                      .result-box
                        .result-cate
                          .result-status.pro-status
                            .reg-hexagon
                              span new
                          span POINT MALL
                          .result-heart.classify-heart
                            a(href='#')
                              img(src='./images/heart.svg' alt='img')
                        a.result-box--title(href='#') 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット
                        .result-sub
                        .result-point
                          span 2,980 SKY POINTS
                        .result-des.result-des--point
                          span 酸化することなくワインを保存できる革新的なワインツール ※送料無料
                        .result-btn
                          a.result--submit(href='#') ADD CARTS
                    .result-item.col-lg-4.col-md-6
                      a.result-img(href='#')
                        img(src='./images/img-feature1.png' alt='img')
                      .result-box
                        .result-cate
                          .result-status.pro-status
                            .reg-hexagon
                              span new
                          span POINT MALL
                          .result-heart.classify-heart
                            a(href='#')
                              img(src='./images/heart.svg' alt='img')
                        a.result-box--title(href='#') 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット
                        .result-sub
                        .result-point
                          span 2,980 SKY POINTS
                        .result-des.result-des--point
                          span 酸化することなくワインを保存できる革新的なワインツール ※送料無料
                        .result-btn
                          a.result--submit.btn-short-of(href='#') SHORT OF POINTS
                    .result-item.col-lg-4.col-md-6
                      a.result-img(href='#')
                        img(src='./images/img-feature1.png' alt='img')
                      .result-box
                        .result-cate
                          .result-status.pro-status
                            .reg-hexagon
                              span new
                          span POINT MALL
                          .result-heart.classify-heart
                            a(href='#')
                              img(src='./images/heart.svg' alt='img')
                        a.result-box--title(href='#') 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット 10月のうま得ワイン 10本セット
                        .result-sub
                        .result-point
                          span 2,980 SKY POINTS
                        .result-des.result-des--point
                          span 酸化することなくワインを保存できる革新的なワインツール ※送料無料
                        .result-btn
                          a.result--submit.btn-short-of(href='#') SHORT OF POINTS
                  .pagination.pagination-point
                    ul.pagination-list
                      li.pagination-item.pagination-item--active
                        a.pagination-link(href="") 1
                      li.pagination-item.pagination-item
                        a.pagination-link(href="") 2
                      li.pagination-item.pagination-item
                        a.pagination-link(href="") 3
                      li.pagination-item.pagination-item
                        a.pagination-link(href="") 4
                      li.pagination-item.pagination-item
                        a.pagination-link(href="") 5
                      li.pagination-item.pagination-item
                        a.pagination-link(href="") >
                    .pagination-choose
                      span Show
                      .control
                        select.pagination-select(name='list')
                          option(value='01') 30
                          option(value='02') 01
                          option(value='03') 02
                      span per page

block footer
  +footer()
