extends modules/layout/_page-default-pc

block head
  +head('Search Result')

block main
  main.main
    .main-fluid.main-fluid--product
      .container
        .bcrum
          a.bcrum-item(href='#')
            | Home 
            span >
          span.bcrum-end 検索結果
        .main-content
          .result-search
            .result-key
              .result-word
                .result-key-number
                  span.result-key--text 検索結果1302件
                  p.result-key-link
                    span Keyword
                    a.result-key--close(href="") X
              .result-choose
                .control
                  select.result-select(name='list')
                    option(value='01') 絞り込み
                    option(value='02') 絞り込み 1
                    option(value='03') 絞り込み 2
                .control
                  select.result-select(name='list')
                    option(value='01') 並び替え
                    option(value='02') 並び替え 1
                    option(value='03') 並び替え 2

          .result-full
            .result.row
              .result-item.col-xl-3.col-lg-3.col-md-6.col-xs-12
                a.result-img(href='#')
                  img(src='images/food.jpg' alt='')
                .result-box
                  .result-cate 
                    .result-status.pro-status
                      .reg-hexagon
                        span new
                    span Shopping
                    .result-heart.classify-heart
                      a(href='#')
                        img(src='images/heart.svg' alt='')
                  a.result-box--title(href='#') 10月のうま得ワイン 10本セット
                  .result-sub THE DIRECT
                  .result-btn
                    a.result--submit(href='#') View details
              .result-item.col-xl-3.col-lg-3.col-md-6.col-xs-12
                a.result-img(href='#')
                  img(src='images/original_6.jpg' alt='')
                .result-box
                  .result-cate 
                    .result-status.pro-status
                      .reg-hexagon
                        span new
                    span Shopping
                    .result-heart.classify-heart
                      a(href='#')
                        img(src='images/heart.svg' alt='')
                  a.result-box--title(href='#') 10月のうま得ワイン 10本セット
                  .result-sub THE DIRECT
                  .result-btn
                    a.result--submit(href='#') View details
              .result-item.col-xl-3.col-lg-3.col-md-6.col-xs-12
                a.result-img(href='#')
                  img(src='images/dati2.png' alt='')
                .result-box
                  .result-cate 
                    .result-status.pro-status
                      .reg-hexagon
                        span new
                    span Shopping
                    .result-heart.classify-heart
                      a(href='#')
                        img(src='images/heart.svg' alt='')
                  a.result-box--title(href='#') 10月のうま得ワイン 10本セット
                  .result-sub THE DIRECT
                  .result-btn
                    a.result--submit(href='#') View details
              .result-item.col-xl-3.col-lg-3.col-md-6.col-xs-12
                a.result-img(href='#')
                  img(src='images/original_7.jpg' alt='')
                .result-box
                  .result-cate 
                    .result-status.pro-status
                      .reg-hexagon
                        span new
                    span Shopping
                    .result-heart.classify-heart
                      a(href='#')
                        img(src='images/heart.svg' alt='')
                  a.result-box--title(href='#') 10月のうま得ワイン 10本セット
                  .result-sub THE DIRECT
                  .result-btn
                    a.result--submit(href='#') View details
              .result-item.col-xl-3.col-lg-3.col-md-6.col-xs-12
                a.result-img(href='#')
                  img(src='images/original_7.jpg' alt='')
                .result-box
                  .result-cate 
                    .result-status.pro-status
                      .reg-hexagon
                        span new
                    span Shopping
                    .result-heart.classify-heart
                      a(href='#')
                        img(src='images/heart.svg' alt='')
                  a.result-box--title(href='#') 10月のうま得ワイン 10本セット
                  .result-sub THE DIRECT
                  .result-btn
                    a.result--submit(href='#') View details
              .result-item.col-xl-3.col-lg-3.col-md-6.col-xs-12
                a.result-img(href='#')
                  img(src='images/dati2.png' alt='')
                .result-box
                  .result-cate 
                    .result-status.pro-status
                      .reg-hexagon
                        span new
                    span Shopping
                    .result-heart.classify-heart
                      a(href='#')
                        img(src='images/heart.svg' alt='')
                  a.result-box--title(href='#') 10月のうま得ワイン 10本セット
                  .result-sub THE DIRECT
                  .result-btn
                    a.result--submit(href='#') View details
              .result-item.col-xl-3.col-lg-3.col-md-6.col-xs-12
                a.result-img(href='#')
                  img(src='images/food.jpg' alt='')
                .result-box
                  .result-cate 
                    .result-status.pro-status
                      .reg-hexagon
                        span new
                    span Shopping
                    .result-heart.classify-heart
                      a(href='#')
                        img(src='images/heart.svg' alt='')
                  a.result-box--title(href='#') 10月のうま得ワイン 10本セット
                  .result-sub THE DIRECT
                  .result-btn
                    a.result--submit(href='#') View details
              .result-item.col-xl-3.col-lg-3.col-md-6.col-xs-12
                a.result-img(href='#')
                  img(src='images/original_6.jpg' alt='')
                .result-box
                  .result-cate 
                    .result-status.pro-status
                      .reg-hexagon
                        span new
                    span Shopping
                    .result-heart.classify-heart
                      a(href='#')
                        img(src='images/heart.svg' alt='')
                  a.result-box--title(href='#') 10月のうま得ワイン 10本セット
                  .result-sub THE DIRECT
                  .result-btn
                    a.result--submit(href='#') View details

            .pagination
              ul.pagination-list
                li.pagination-item.pagination-item--active
                  a.pagination-link(href="") 1
                li.pagination-item.pagination-item
                  a.pagination-link(href="") 2
                li.pagination-item.pagination-item
                  a.pagination-link(href="") 3
                li.pagination-item.pagination-item
                  a.pagination-link(href="") 4
                li.pagination-item.pagination-item
                  a.pagination-link(href="") 5
                li.pagination-item.pagination-item
                  a.pagination-link(href="") >

              .pagination-choose
                span Show
                .control
                  select.pagination-select(name='list')
                    option(value='01') 30
                    option(value='02') 01
                    option(value='03') 02
                span per page

block footer
  +footer()
