extends modules/layout/_page-other

block head
  +head('Update Password')

block main
  .login.update-pass
    .login-form
      .welcome
        h4.welcome--title パスワードをお忘れの場合
      .form-login
        .control
          input(class="form-control" type="text" id="" placeholder="" value="")
          span.input-lable 新しいパスワード
        .control
          input(class="form-control" type="password" id="" placeholder="" value="")
          span.input-lable 新しいパスワード（確認
        .control.control-log
          a.action-login(href='#') パスワードを再設定
    .copyright-wrapper
      span © 2019 SKY PREMIUM INTERNATIONAL PTE LTD.ALL RIGHTS RESERVED.
